body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex; 
}

.container {
    padding-top: 10px;
    margin:auto;
    width: max-content;
    height: max-content;
    padding: 20px;
    display: block;
    background-image: url(formbg.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}
p {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
 
}
form {
    max-width: 100%;
    margin: 0 auto;

}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    align-items: center;
    color: black;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
    opacity: 0.3;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

a {
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}
